@model Shopping_MVC.Models.Admin

@{
    ViewData["Title"] = "Login";
}

<h1>Login</h1>

<form asp-action="Login" method="post">
    <div>
        <label asp-for="Number"></label>
        <input asp-for="Number" />
        <span asp-validation-for="Number" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="Passward"></label>
        <input asp-for="Passward" type="password" />
        <span asp-validation-for="Passward" class="text-danger" ></span>
    </div>
    <button type="submit" class="btn btn-login">Login</button>
  
</form>

<style>
    form {
        max-width: 300px;
        margin: 0 auto;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    div {
        margin-bottom: 15px;
    }

    label {
        display: block;
        margin-bottom: 5px;
        font-weight: bold;
    }

    input {
        width: 100%;
        padding: 8px;
        box-sizing: border-box;
    }

    .btn-login {
        display: block;
        width: 100%;
        padding: 10px;
        border: none;
        border-radius: 5px;
        background-color: #4CAF50;
        color: #fff;
        cursor: pointer;
        transition: background-color 0.3s;
    }

        .btn-login:hover {
            background-color: #45a049;
        }
</style>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
